<?xml version="1.0" encoding="UTF-8"?>

<!-- ce fichier XML configure les beans Spring pour gérer la configuration de la source de données,
la session Hibernate, le gestionnaire de transactions et la prise en charge des transactions annotées
	dans une application utilisant Spring avec Hibernate pour la persistance des données via
	 une base de données MySQL. -->

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
     					   http://www.springframework.org/schema/beans/spring-beans.xsd
     					   http://www.springframework.org/schema/context
     					   http://www.springframework.org/schema/context/spring-context.xsd
     					   http://www.springframework.org/schema/tx
     					   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--xmlns: Définit l'espace de noms par défaut pour les balises beans.
xmlns:xsi: Espace de noms pour les attributs XML Schema Instance.
xmlns:context: Espace de noms pour la configuration de contexte.
xmlns:tx: Espace de noms pour la configuration des transactions.
xsi:schemaLocation: Spécifie les emplacements des schémas XSD utilisés pour la validation du fichier XML.
	 -->

	<context:component-scan base-package="com" /><!-- <context:component-scan base-package="com" />:
	 Cela indique à Spring de scanner le package com pour trouver et enregistrer automatiquement
	 les beans annotés dans le contexte Spring. -->

	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/fpl2023" />
		<property name="username" value="root" />
		<property name="password" value="Narjiss@811" />
	</bean>
	
	<bean id="sf" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.entities.FiliereEntity</value>
				<value>com.entities.EtudiantEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="tm" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sf" />
	</bean>
	
	<tx:annotation-driven transaction-manager="tm" />
	
</beans>